/* HORIZONTAL AND BOTTOM NAVBAR */

.hori_navbar , .bottom_nav{
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 3px solid #e0e3eb;
    background-color: #fff;
}

.hori_navbar .hori_navbar--chartSection{
    border-right: none;
}
.hori_navbar--chartSection{
    align-items: center;
    margin-top: 5px;
}

.hori_navbar > ul:nth-last-child(2){
    justify-content: end;
    align-items: center;
    flex: 1;
}
.hori_navbar > ul:last-child{
    align-items: center;
}


.bottom_nav{
    color:#131722;
    padding:.2rem .1rem;



}

.hori_navbar > ul , .bottom_nav  ul{
    list-style: none;
    display: flex;
    gap:.8rem;
    font-size: 14px;
    border-right: 1px solid #e0e3eb;
    padding: 0rem .7rem;
    align-items: center;

}


.indicators_section{
    border-left: 1px solid #e0e3eb;
}
.indicators_section > li:first-child{
    display: flex;
    gap:5px;
}


.btn{
    background-color: #2962ff;
    color:#fff;
    border-radius: 20px;
    align-self: center;
    padding: .3rem .9rem;
}

.avtar{
    border: 1px solid black;
    padding: 2px;
    border-radius: 50%;
}



/* vERTICAL NAVBAR SECTION */

.vertical_nav{
    border: 3px solid #e0e3eb;
    border-top-width: 2px;
    padding:.5rem;
    border-top-right-radius: 5px;
    background-color: #fff;
    height: 100vh;


}
.nav2.vertical_nav{
    padding: .1rem;
    width: 3rem;

}

.nav2 .svg_size{
    width: 3rem;
}


.vertical_nav > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:.5rem;
}

.nav2.vertical_nav > ul{
    gap:.3rem;
    align-items: center;
    justify-content: center;
}



/* SUB MENU MUI COMPONENT CLASSES  */
.MuiPaper-root{
    box-shadow: 0 2px 4px #0003 !important;
    border-radius: 3px !important;
    text-align: left !important;
    width: 10rem;
}

.MuiPaper-root > ul li{
    padding: .3rem .5rem;
    font-size: 14px !important;
    color:#131722;
}


/* MUI COMPONENT MODEL CLASSES FOR BACKGROUND */
.MuiModal-backdrop{
    background-color:transparent !important;
}


/* SEARCH MODEL */
.search_heading{
    justify-content: space-between;
    align-items: center;
    padding: 1rem .9rem;
}
.search_heading > h1{
    font-size: 1.8rem;
}
.search_heading > button{
    border: none;
    background-color: transparent;
}

.search_section{
    border-top: 1px solid #e0e3eb;
    border-bottom: 1px solid #e0e3eb;
    align-items: center;
    padding:.8rem .9rem;
    padding-right: 1rem;
}
.search_section > input{
    border:none;
    padding:.2rem;
    flex: 1;
}


input:focus{
    outline:none;
}


/* chart Candle Setting */
.colorsSection{
    display: flex;
    gap:.8rem;
    align-items: center;
    justify-content: space-between;
  }

  .colorsSection > div{
    display: flex;
    align-items: center;
    gap:.5rem;
    margin-bottom: 1rem;
  }

  .titleSetting{
    font-size: 11px;
    color: #787b86;
    display: inline-block;
    margin: .6rem 0 1.5rem 0;

  }

  /* model MUI classess TAB classes modifications */

  /* main tab div class */
  .MuiTabs-root{
    flex-basis: 36% !important;
    font-size: 14px !important;
    padding-top: 6px !important;
    display: flex;


  }

  /* others tabs classes */
  .MuiButtonBase-root.MuiTab-root{
    font-size: 14px !important;
    color:#131722 !important;
    padding: 6px 0 6px 20px !important;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    min-height: fit-content !important;
    text-transform: none !important;

  }

 /* left side active first and others tabs */
  .MuiButtonBase-root.MuiTab-root.Mui-selected  {
    background-color: #2962ff !important;
    color:#fff !important;

}

.MuiButtonBase-root.MuiTab-root.Mui-selected img{
    filter: invert(100%) ;

}

.MuiTabs-indicator {
    display: none !important;
}