/* GENERIZE CSS */

.main_container{
    width: 100%;
    display: flex;
    height:calc(100vh - 73px);
    /* background:linear-gradient(#fff , #000); */
}



.btns{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    margin-top: 5rem;
    border: 1px solid black;
    padding:.5rem .2rem .5rem 0;
}
.btns button{
    background-color: #fff;
    border:none;
    right:10px;
}
.btns img{
    width:1.3rem;
    height:1.3rem;

}

.flex{
    display: flex;
    gap:.6rem;
}

.svg_size{
    width:2rem;
    height: auto;
}




/* input type color CSS */


  input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 1px solid #d1d4dc;
    cursor: pointer;
    height: 2.2rem;
    padding: 4px;
    width: 2.2rem;
    border-radius:3px;
  }

  input[type='color']:disabled{
    background-color: #f0f3fa;
    border-color: #d1d4dc;
    color: #b2b5be;
    filter: grayscale(50%)
  }
  label{
    font-size: 14px;
  }

  input[type='checkbox']{
    width: 18px;
    height: 18px;
  }
  *:focus{
    border-radius: 0;
    outline: none;
  }

  ::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  ::-webkit-color-swatch{
    border: 0;
    border-radius: 3px;
  }

  ::-moz-color-swatch,
  ::-moz-focus-inner{
    border: 0;
  }

  ::-moz-focus-inner{
    padding: 0;
  }
